{% extends 'base.html.twig' %}

{% block title %}Login{% endblock %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="col"></div>
        <div class="col-xs-12 col-sm-8 col-md-6 col-lg-4">
            <form action="{{ path('app_web_login') }}" method="post" class="card py-3 px-4">
                <div class="mb-3">
                    <label for="username" class="form-label">Email</label>
                    <input type="email" class="form-control" id="username" name="_username" value="{{ last_username }}">
                </div>

                <div class="mb-3">
                    <label for="password" class="form-label">Password</label>
                    <input type="password" class="form-control" id="password" name="_password">
                </div>

                <input type="hidden" name="_target_path" value="{{ path('app_web_dashboard') }}"> 

                <button type="submit" class="btn btn-primary">login</button>

                {% if error %}
                <div class="alert alert-danger mb-0 mt-3">
                    <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                </div>
                {% endif %}
            </form>
        </div>
        <div class="col"></div>
    </div>
</div>
{% endblock %}